[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh_razor_plugin"]
	path = oh-my-zsh_razor_plugin
	url = git://github.com/dalang/oh-my-zsh_razor_plugin.git
